@using UstaTakipMvc.Web.Models.Customers
@model ICustomerForm   

<div class="row g-3">
    <div class="col-md-6">
        <label asp-for="FullName" class="form-label">Ad Soyad</label>
        <input asp-for="FullName" class="form-control" />
        <span asp-validation-for="FullName" class="text-danger small"></span>
    </div>

    <div class="col-md-6">
        <label asp-for="Phone" class="form-label">Telefon</label>
        <input asp-for="Phone" class="form-control" />
        <span asp-validation-for="Phone" class="text-danger small"></span>
    </div>
</div>
